<h1>Register</h1>

<p>Sign up here.  It's easy. It's free. It's fun.</p>


<center>
<table>
<tr><td>

<% form_for :user, :url => {:action => "create" } do |f| %>
  <%= f.error_messages %>


<div class="center last">
  <fieldset><legend>User name & Password</legend>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
<br/>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
<br/>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
<br/>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
   </fieldset>
   
</div>

<div  class=" center last" >
<fieldset><legend>Optional</legend>

    <%= f.label "Nick Name" %><br/>
    <%= f.text_field :nick_name  , :size => 8 %>
<br/>

    <%= f.label "From" %><br/>
    <%= f.text_field :from  , :size => 8 %>
<br/>

    <%= f.label "When Did you join the Uprising" %><br/>
    <%= f.date_select :uprising_since%>

<br/>
</fieldset>
</div>

<div class="center last" >
  
    <%= f.submit 'Join Us' %>
  
  
</div>
</td>
</tr>
</table>
<% end %>

