<h1>Editing draft</h1>

<% form_for(@draft) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :beer %><br />
    <%= f.text_field :beer %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :measurement %><br />
    <%= f.text_field :measurement %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </p>
  <p>
    <%= f.label :tapped %><br />
    <%= f.check_box :tapped %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @draft %> |
<%= link_to 'Back', drafts_path %>